# Environment Variables
.env

# IDS
Analyst IDS.txt
IDS.txt

config.toml

.vscode
database_roles.sql
database_structure.sql
help_records_rows (1).csv
help_records_rows.csv
README.md
docs/loading-system.md
sql/update_remote_access_table.sql
sql/remote_access_table.sql
Planilha sem título - Dados Importados.csv
supabase_import_script.sql
Database - Erros Comuns - Anúncios.csv
Database - Erros Comuns - Expedição.csv
Database - Erros Comuns - Notas Fiscais.csv

sheetsnap
utils/Sign in to Tiny_files/bootstrap.min.css
utils/Sign in to Tiny_files/bundle.js.download
utils/Sign in to Tiny_files/customizations.css
utils/Sign in to Tiny_files/font-awesome.min.css
utils/Sign in to Tiny_files/font.css
utils/Sign in to Tiny_files/Sign in to Tiny.html
utils/Sign in to Tiny_files/vcd15cbe7772f49c399c6a5babf22c1241717689176015
PROFILE_STRUCTURE.md
database_structure_additions.sql
MINHA_BASE_SETUP.md
API_KNOWLEDGE_BASE.md
