/* styles/Footer.module.css */

.footer {
  background-color: #1e1e1e;
  color: #555;
  text-align: center;
  padding: 15px 0;
  font-size: 0.9rem;
  border-top: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logoContainer {
  position: absolute;
  left: 15px;
}

.logo {
  width: 100px; /* Ajuste o valor para obter um dimensionamento agradável */
  height: auto;
}