/* styles/globals.css */
body, html {
  margin: 0;  /* Remover margens padrão */
  padding: 0;  /* Remover padding padrão */
  box-sizing: border-box;
  background-color: #121212; /* Dark mode */
  color: #fff;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Evitar rolagem horizontal desnecessária */
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}