/* styles/globals.css */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #121212; /* Dark mode */
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  