/* styles/MyPage.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.profileAndHelpContainer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  margin-bottom: 20px;
}

.profileContainer {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileImage {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.profileInfo {
  text-align: center;
}

.performanceWrapper {
  width: 90%;
  max-width: 1200px;
  margin-bottom: 20px;
}

.performanceContainer {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.performanceInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.performanceItem {
  display: flex;
  justify-content: space-between;
}

.lastUpdated {
  font-size: 0.9em;
  color: #777;
  text-align: right;
  margin-bottom: 10px;
}

.categoryRanking {
  width: 90%;
  max-width: 1200px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.rank {
  font-weight: bold;
  margin-right: 10px;
}

.categoryName {
  flex: 1;
}

.progressBarCategory {
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.count {
  font-size: 0.9em;
  color: #555;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltipText {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.percentageChange {
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.helpRequestsInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.monthsInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}