/* styles/Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-bg);
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo img {
  height: 40px;
}

.themeToggle, .menuToggle {
  background: transparent;
  border: none;
  color: var(--color-menu);
  font-size: 24px;
  cursor: pointer;
  outline: none;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--menu-bg);
  padding: 10px 0;
  position: absolute;
  top: 90%;
  right: 20px;
  width: 230px;
  border-radius: 5px;
}

.menuButton,
.menuButton a {
  background-color: var(--color-primary);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  width: 80%;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 14px;
}

.menuButton:hover,
.menuButton a:hover {
  background-color: var(--color-primary-hover);
}

.logoutButton {
  display: flex;
  align-items: center;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 15px;
}

.notificationToggle {
  position: relative;
  font-size: 24px;
  color: var(--color-menu);
  cursor: pointer;
}

.notificationCount {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: var(--color-accent1);
  color: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
}

.notificationsBox {
  position: absolute;
  top: 50px;
  right: 10px;
  width: 350px;
  max-height: 400px;
  overflow-y: auto;
  background: var(--box-color);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  z-index: 1000;
  padding: 15px;
}

/* Estilo personalizado para a scrollbar dentro de notificationsBox */
.notificationsBox::-webkit-scrollbar {
  width: 6px !important;
}

.notificationsBox::-webkit-scrollbar-track {
  background: transparent !important;
}

.notificationsBox::-webkit-scrollbar-thumb {
  background: var(--scroll) !important;
  border-radius: 10px;
}

.notificationsBox {
  scrollbar-width: thin !important;
  scrollbar-color: var(--scroll) transparent;
}

.notificationsList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.notificationItem {
  padding: 15px;
  border-radius: 8px;
  background: var(--box-color2);
  margin-bottom: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notificationItem:hover {
  transform: translateY(-2px);
}

.notificationContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.timestamp {
  font-size: 12px;
  color: var(--text-color);
}

.noNotifications {
  text-align: center;
  color: var(--text-color2);
  font-size: 14px;
  margin: 10px 0;
}

.markAsReadIndicator {
  align-self: flex-end;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.markAsReadWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.markAsReadText {
  font-size: 12px;
  color: var(--color-icons);
  cursor: pointer;
}

.checkIcon {
  color: var(--color-icons);
}

.checkIconDouble {
  color: var(--color-primary);
}

.pointer {
  cursor: pointer;
}

.markAllReadButton,
.loadMoreButton {
  background-color: var(--color-primary);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  width: 100%;
  text-align: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 14px;
}

.markAllReadButton:hover,
.loadMoreButton:hover {
  background-color: var(--color-primary-hover);
}

.notificationBanner {
  width: 100%;
  background-color: var(--color-accent1);
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.notificationBanner p {
  margin: 0;
  display: inline;
}

.closeButton {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
}