/* styles/Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1E1E1E;
  padding: 10px 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #F0A028;
}

.menuToggle {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 24px;
  z-index: 1000;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1E1E1E;
  padding: 10px 0;
  position: absolute;
  top: 100%;
  right: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.menuButton,
.menuButton a {
  background-color: #E64E36;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  width: 80%;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.menuButton:hover,
.menuButton a:hover {
  background-color: #f57c00;
}

.logoutButton {
  display: flex;
  align-items: center;
}

.logoutIcon {
  font-size: 24px;
}