/* ================== Estilo Geral da Página ================== */
.main {
  padding: 20px;
  margin-top: 50px;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main h1 {
  margin-bottom: 20px;
  text-align: center;
  color: #8b8b8b;
}

/* ================== Estilo para as Tabs ================== */
.tabsContainer {
  width: 100%;
  max-width: 1400px;
  background-color: var(--manager-menu-bg);
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* ================== Formulário ================== */
.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--box-color);
  padding: 30px;
  border-radius: 10px;
  max-width: 800px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  margin-bottom: 5px;
  color: var(--title-color);
  font-weight: bold;
}

.inputField {
  padding: 10px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  background-color: var(--modals-inputs);
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.inputField:hover {
  border: 1px solid var(--color-primary);
}

.submitButton {
  background-color: var(--color-accent3);
  color: var(--color-white);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #87A553;
}

/* ================== Estilo da Tabela ================== */
.recordsTable {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  overflow-x: auto;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recordsTable thead {
  background-color: var(--color-thead);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.recordsTable th,
.recordsTable td {
  padding: 10px;
  text-align: left;
  color: var(--text-th);
  border-bottom: 1px solid var(--color-border);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.recordsTable th {
  font-weight: bold;
}

.recordsTable tbody {
  display: block;
  max-height: 500px;
  overflow-y: auto;
}

.recordsTable thead,
.recordsTable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.recordsTable tbody tr:nth-child(odd) {
  background-color: var(--color-trodd);
}

.recordsTable tbody tr:nth-child(even) {
  background-color: var(--color-treven);
}

/* ================== Loader ================== */
.loaderOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loader {
  border: 6px solid var(--color-border);
  border-top: 6px solid var(--color-primary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
