/* ================== Estilo Geral da Página ================== */
.main {
  padding: 20px;
  margin-top: 50px;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main h1 {
  margin-bottom: 20px;
  text-align: center;
  color: #8b8b8b;
}

/* ================== Estilo para os Containers da Tabela ================== */
.cardContainer {
  background-color: var(--box-color);
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  width: 100%;
  max-width: 1400px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cardTitle {
  color: var(--title-color);
  font-size: 1.5rem;
  font-weight: bold;
}

/* ================== Estilo para os containers ================== */

.performanceWrapper {
  width: 100%;
  max-width: 1400px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.performanceContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--box-color);
  border-radius: 10px;
  font-size: 12px;
  color: var(--text-color);
  width: 100%;
  max-width: 300px;
  height: 100px;
  text-align: center;
}

.totalCount {
  font-size: 28px;
  font-weight: bold;
}

/* ================== Estilo para as Tabs ================== */
.tabsContainer {
  width: 100%;
  max-width: 1400px;
  background-color: var(--manager-menu-bg);
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* ================== Formulário ================== */
.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--box-color);
  padding: 30px;
  border-radius: 10px;
  max-width: 800px;
  width: 100%;
}

.formTitle {
  color: var(--title-color);
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.formGroup {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formGroup label {
  margin-bottom: 5px;
  color: var(--title-color);
  font-weight: bold;
}

.inputField {
  padding: 10px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  background-color: var(--modals-inputs);
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.inputField:focus,
.inputField:hover {
  border: 1px solid var(--color-primary);
  outline: none;
}

/* Estilo do React Select */
.react-select__control {
  background-color: var(--labels-bg);
  border: 1px solid var(--color-border);
  border-radius: 5px;
  padding: 5px;
  transition: border-color 0.3s ease;
}

.react-select__control--is-focused {
  border-color: var(--color-primary);
  box-shadow: none !important;
}

.react-select__input {
  color: var(--text-color);
}

.react-select__menu {
  background-color: var(--labels-bg);
  max-height: 220px;
  overflow-y: auto;
}

.react-select__menu-list {
  padding: 0;
  max-height: 220px;
}

.react-select__option {
  background-color: var(--box-color);
  color: var(--text-color);
  cursor: pointer;
}

.react-select__option--is-focused {
  background-color: var(--color-trodd);
}

.react-select__option--is-selected {
  background-color: var(--color-primary);
}

.react-select__single-value {
  color: var(--text-color);
}

.react-select__placeholder {
  color: var(--text-color2);
}

.react-select__indicator {
  color: var(--text-color);
}

.formTextarea {
  width: 100%;
  min-height: 100px;
  max-height: 200px;
  resize: vertical;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--labels-border);
  background-color: var(--labels-bg);
  color: var(--text-color);
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.formTextarea:focus,
.formTextarea:hover {
  border-color: var(--color-primary);
  outline: none;
}

.formButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.submitButton {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 1rem;
}

.submitButton:hover {
  background-color: var(--color-primary-hover);
  transform: translateY(-2px);
}

/* ================== Estilo da Tabela ================== */
.recordsTable {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  overflow-x: auto;
  border-collapse: collapse;
}

.recordsTable thead {
  background-color: var(--color-thead);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.recordsTable th,
.recordsTable td {
  padding: 10px;
  text-align: left;
  color: var(--text-th);
  border-bottom: 1px solid var(--color-border);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.recordsTable th {
  font-weight: bold;
}

.recordsTable tbody {
  display: block;
  max-height: 500px;
  overflow-y: auto;
}

.recordsTable thead,
.recordsTable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.recordsTable th:nth-child(1), .recordsTable td:nth-child(1) {
  width: 10%;  /* Coluna Data */
}

.recordsTable th:nth-child(2), .recordsTable td:nth-child(2) {
  width: 10%;  /* Coluna Hora */
}

.recordsTable th:nth-child(3), .recordsTable td:nth-child(3) {
  width: 15%;  /* Coluna Nome */
}

.recordsTable th:nth-child(4), .recordsTable td:nth-child(4) {
  width: 9%;  /* Coluna Chamado */
}

.recordsTable th:nth-child(5), .recordsTable td:nth-child(5) {
  width: 16%;  /* Coluna Tema */
}

.recordsTable th:nth-child(6), .recordsTable td:nth-child(6) {
  width: 18%;  /* Coluna Descrição */
}

.recordsTable tbody tr:nth-child(odd) {
  background-color: var(--color-trodd);
}

.recordsTable tbody tr:nth-child(even) {
  background-color: var(--color-treven);
}

/* ================== Ícones de Informação ================== */
.infoIcon {
  color: var(--color-icons);
  font-size: 1.2em;
  cursor: pointer;
  transition: color 0.3s ease;
}

.infoIcon:hover {
  color: var(--color-primary);
}

/* ================== Loader ================== */
/* Spinner Loader */
.loaderOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-overlay);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid var(--text-color);
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid var(--color-primary);
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Standard Box Loader */
.standardBoxLoader, .standardBoxLoader:before, .standardBoxLoader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.standardBoxLoader {
  color: var(--text-color);
  font-size: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-indent: -9999em;
  animation-delay: -0.16s;
}
.standardBoxLoader:before,
.standardBoxLoader:after {
  content: '';
  position: absolute;
  top: 0;
}
.standardBoxLoader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.standardBoxLoader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
  40% { box-shadow: 0 2.5em 0 0 }
}

/* ================== Estilos Responsivos ================== */
@media (max-width: 600px) {
  .formContainer {
    padding: 15px;
  }

  .formTitle {
    font-size: 1.25rem;
  }

  .submitButton {
    padding: 12px;
    font-size: 0.9rem;
  }
}

/* ================== Chartjs Estilos ================== */

.chartContainer {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: var(--box-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chartContainer h2 {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-bottom: 20px;
}
